#header div h1 {
    font-size: xx-large;
    text-align: center;
    padding: 5px;
    margin: 0px;

}

.pag {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.pag a {
    color: black;
}

.pag p {
    padding: 5px;
    margin: 5px;
}

#top {
    display: flex;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
}

#tortuga h3 {
    text-decoration: seashell;

}

#top div {
    border: solid black 2px;
    padding: 5px;
    margin: 5px;

}

#top div div {
    border: solid black 2px;
    padding: 5px;
    margin: 5px;
}

.grid {
    display: grid;
    grid-template-areas: "conservacio poblacio" "vulnerable decreixement";
    text-align: center;
}
.conservacio{
    grid-area: conservacio ;
}
.poblacio{
    grid-area: poblacio ;
}
.vulnerable{
    grid-area: vulnerable ;
}
.decreixement{
    grid-area: decreixement ;
}

.foto {
    width: 400px;
    height: 275px;
}

div .conservacio {
    background: aqua;
}

div .poblacio {
    background: #ff2444;
}

div .decreixement {
    background: #52ff44;
}

div .vulnerable {
    background: aquamarine;
}

#tortuga .foto {
    padding-bottom: 20px;
}

#lludriga .foto {
    padding-bottom: 20px;
}

#main h2 {
    margin: 0px;
}

#main h3 {
    color: black;
}

#main h4 {
    color: black;
}

#main p {
    color: black;
}
#intro{
    background-color: palegreen;
}
.nom {
    background: chocolate;
    width: 350px;
    text-align: center;
    margin: 15px;
}
#batman .nom{
    margin-left: 25px;
}

body {
    margin: 0px;
    width: auto;
    height: auto;
}

#header {
    background-color: darkseagreen;
}

#main {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, lightskyblue, lightblue, aliceblue)
}

#footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    background-color: #52ff44;
}

@media (max-width: 425px) {

    .foto {
        width: 375px;
        height: 225px;
    }
    .nom {
        background: chocolate;
        width: 375px;
        text-align: center;
        margin: 0;
    }
    .grid{
        width: 355px;
        margin: 0;

    }
}
@media (max-width: 380px) {

    .foto {
        width: 320px;
        height: 200px;
    }
    .nom {
        background: chocolate;
        width: 320px;
        text-align: center;
        margin: 0;
    }
    .grid{
        width: 300px;
        margin: 0;

    }
}
@media (max-width: 330px) {

    .foto {
        width: 290px;
        height: 190px;
    }
    .nom {
        width: 290px;
        text-align: center;
        margin: 0;
    }
    .grid{
        width: 270px;
        margin: 0;

    }
}